  * {
    margin: 0;
    padding: 0;
    color: white;

  }

  body {
    background-color: black;
  }

  .content {
    margin: 80px;
  }

  .titulo__personagens {
    font-size: 80px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .menu {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 20px;
    margin: 5px 10px 5px 10px;
    gap: 90px;
  }

  .menu .menu__lista {
    list-style: none;
    gap: 70px;
    display: flex;
    
  }

  .card .card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .card {
    padding: 50px;
    background-color: rgb(55, 56, 59);
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;

  }

  .card .card__descrição {
    font-size: 20px;
    text-align: left;
    margin-top: 40px;

  }

  .card .card__image {
    border-radius: 100%;
    min-width: 321px;
    width: 321px;
    height: 337px;
    object-fit: cover;
  }

  .card__image.card__image--rigth {
    margin-right: -90px;
  }

  .card__image.card__image--left {
    margin-left: -90px;
  }

  
  .personagens {
  align-content: center;
  gap: 50px;
}

.menu__footer {
  text-align: center;
  align-items: center;
  display: flex;
  padding: 20px;
  margin: 0px 10px 10px 10px;
  gap: 90px;
}

.menu__footer .lista__footer {
  list-style: none;
  gap: 70px;
  display: flex;
  margin-top: 100px;
}

.caixa {
  background-color: lightgray;
}